# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/
[Mm]emoryCaptures/
[Aa]rtifacts/
AssetBundles/
*.pidb
*.booproj
*.svd
*.opendb
*.VC.db

# IDE/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Visual Studio / Rider
*.sln
*.csproj
*.unityproj
*.suo
*.user
*.userprefs
*.pdb
*.mdb
